# you can edit this file to change keybindings lines that start with '#' are comments
# the syntax is pretty simple. Some examples:
#command        k             (command is executed when k is pressed)
#command        <C-k>         (command is executed when k is pressed while holding control)
#command        K             (command is executed when K is entered, which is shift+k)
#command        <A-k>         (command is executed when k is pressed while holding alt)
#command        +             (command is executed when = is pressed while holding shift)
#command        <C-S-k>       (command is executed when k is pressed while holding control and shift)
#command        gg            (command is executed when g is pressed twice)
#command        gt            (command is executed when g is pressed and then t is pressed)
#command        g<C-n>Dt  (command is executed when g is pressed and then n is pressed while holding\
#                               control and then d is pressed while holding shift and then t is pressed)
# you can execute multiple commands using the following syntax:
#command1;command2;command3        <keybinding>
# for more information see the documentation at https://sioyek-documentation.readthedocs.io/


zoom_in  K
zoom_out J

move_visual_mark_up k
move_visual_mark_down j
move_right          h
move_left           l


# ---------- HIGHLIGHTS ----------
# You can select a piece of text and press the `add_highlight` shortcut followed by a symbol (a character from a-z) to highlight
# the text
add_highlight H
# Goto highlights of current document
goto_highlight gH
# Left click on a highlight and then press the `delete_highlight` shortcut to delete it.
delete_highlight dH


next_page <C-f>
previous_page <C-b>

# Go down one screen width (can be prefixed with a number which tells how many screen widths should we go down)
screen_down <c-d>
screen_up <c-u>

prev_state <C-o>
next_state <C-i>


# toggle_dark_mode i
toggle_custom_color i

## Toggle custom color mode. You can specify the text background color in your `prefs_user.config` file
## see https://sioyek-documentation.readthedocs.io/en/latest/configuration.html#custom-background-color-and-custom-text-color

# Toggle synctex mode. When in synctex mode, right clicking on a pdf launches the corresponding latex page.
toggle_synctex I

## Perform a synctex search under the mouse cursor
synctex_under_cursor w
open_last_document W

# In presentation mode, we fit the pages to screen and movement keys move entire pages
# toggle_presentation_mode P

## Quit sioyek
quit q

overview_definition L

## Smart jump to the location under mouse cursor
smart_jump_under_cursor e
## Open overview window to the location under mouse cursor
overview_under_cursor E
## Set a visual mark under mouse cursor
#visual_mark_under_cursor <unbound>
## Close the overview window
#close_overview <unbound>
## Exit visual mark mode
#close_visual_mark <unbound>


## --------prefs_user.config-----------
## execute_command_a	some_command %1 %2
## execute_command_x	another_command %2
## ------------------------------------
## now in order to execute the second command you can first execute `execute_predefined_command` and then press 'x'
#execute_predefined_command <unbound>

## Embed the annotations (highlights and bookmarks) into a new PDF file so they are visible to other PDF readers
#embed_annotations <unbound>

## Copy the current window configuration to clipboard so they can be used in `prefs_user.config`
#copy_window_size_config <unbound>

## Opens the default preference file
#prefs <unbound>
## Opens the user preference file with highest priority
#prefs_user <unbound>
## Opens a list of all user preference files
#prefs_user_all <unbound>

## Opens the default kwys file
#keys <unbound>
## Opens the user keys file with highest priority
#keys_user <unbound>
## Opens a list of all user keys files
#keys_user_all <unbound>

## Enter password for password protected documents
#enter_password <unbound>

## Toggle fastread mode. this is an experiental feature
#toggle_fastread <unbound>

## Toggle statusbar display
#toggle_statusbar <unbound>

## Reload sioyek window
reload <C-r>
