# Servers to auto-connect
servers:
  - addr: chat.freenode.net
    join:
      - '#bioinformatics'
    port: 6697
    tls: true
    alias: freenode
    realname: Karl Hernandez
    nicks: [SeniorMars, Karl.SeniorMars, Karl.SeniorMars_]
    pass: "F,[B1Xk,~ssrHk_G?n]/RlAn'"

  - addr: irc.oftc.net
    join:
      - '#tiny'
    port: 6697
    tls: true
    alias: OFTC
    realname: Karl Hernandez
    nicks: [SeniorMars, Karl.SeniorMars, Karl.SeniorMars_]
    pass: "F,[B1Xk,~ssrHk_G?n]/RlAn'"

  - addr: irc.libera.chat
    join:
      - "#vim"
      - "#archlinux"
      - "#archlinux-offtopic"
      - "#archlinux-aur"
      - "#rust"
    port: 6697
    tls: true
    alias: libera
    realname: Karl Hernandez
    nicks: [SeniorMars, Karl.SeniorMars, Karl.SeniorMars_]
    pass: HO(q'YnnCLR"[`s2cqfi{MF7Z

    # sasl:

# Defaults used when connecting to servers via the /connect command
defaults:
  nicks: [SeniorMars]
  realname: Karl.SeniorMars
  join: []

# Where to put log files
log_dir: "/Users/karl/.local/share/tiny_logs"

# (Optional) Limits the maximum number of messages stored for each UI tab. Defaults to unlimited.
# scrollback: 512

# Color theme based on 256 colors. Colors can be defined as color indices
# (0-255) or with their names.
#
# Below are the defaults. You can delete them if you don't want to change
# anything.
#
# Accepted color names are:
# default (0), black (0), maroon (1), green (2), olive (3), navy (4),
# purple (5), teal (6), silver (7), gray (8), red (9), lime (10),
# yellow (11), blue (12), magenta (13), cyan (14), white (15)
#
# Attributes can be combined (e.g [bold, underline]), and valid values are bold
# and underline.
colors:
  nick: [1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14]

  clear:
    fg: default
    bg: default

  user_msg:
    fg: black
    bg: default

  err_msg:
    fg: black
    bg: maroon
    attrs: [bold]

  topic:
    fg: cyan
    bg: default
    attrs: [bold]

  cursor:
    fg: black
    bg: default

  join:
    fg: lime
    bg: default
    attrs: [bold]

  part:
    fg: maroon
    bg: default
    attrs: [bold]

  nick_change:
    fg: lime
    bg: default
    attrs: [bold]

  faded:
    fg: 242
    bg: default

  exit_dialogue:
    fg: default
    bg: navy

  highlight:
    fg: red
    bg: default
    attrs: [bold]

  completion:
    fg: 84
    bg: default

  timestamp:
    fg: 242
    bg: default

  tab_active:
    fg: default
    bg: default
    attrs: [bold]

  tab_normal:
    fg: gray
    bg: default

  tab_new_msg:
    fg: purple
    bg: default

  tab_highlight:
    fg: red
    bg: default
    attrs: [bold]
