/* Remember to change your username */
@import url('file:///home/karl/Documents/CS/css/colors.css');

window#main-window {
    --toolbar-bgcolor: #0c0c0c !important;
    --lwt-accent-color: #0c0c0c !important;
    --lwt-toolbar-field-background-color: #0c0c0c !important;
    --lwt-toolbar-field-color: #cccccc !important;
    --chrome-content-separator-color: none !important;
    --backbutton-background: none !important;
    --arrowpanel-background: #0c0c0c !important;
    --arrowpanel-border-color: #0c0c0c !important;
    --lwt-sidebar-background-color: #0c0c0c !important;
}  
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar[brighttext] > #PanelUI-button {
    border-image-source: linear-gradient(transparent, transparent) !important;
}

:root[uidensity="touch"] {
    --tab-min-height: 22px;
}    

textbox {
    background-color: #0c0c0c !important;
    border: none !important;
}

vbox[style], hbox[style] {
  background-color: #0c0c0c !important;
  border: none !important;
}

.sidebar-placesTree {
    background-color: #0c0c0c !important;
    border: none !important;
}
:root[lwt-popup-brighttext] {
    --panel-separator-color: #0c0c0c !important;
    border: none !important;
}

#sidebar-header {
    border: none !important;
}

#urlbar,
#searchbar {
    border: none !important;
}

#identity-box,
#tracking-protection-icon-container,
.urlbar-icon {
    display: none !important;
}

.tab-icon-image
{
  background-color: #e0e0e0 !important;
  min-height: 22px !important;
  min-width: 22px !important;
  border-radius: 22px !important;
}

#toolbar-menubar:not([autohide="true"])+#TabsToolbar .tabbrowser-tab>.tab-stack>.tab-background,
:root:not([tabsintitlebar]) .tab-background,
:root[extradragspace] .tab-background {
    border-top: 0 !important;
}

.tab-line {
    height: 0 !important;
}

.close-icon {
    display: none !important;
}

#page-action-buttons>*:not(#star-button-box),
.urlbar-history-dropmarker {
    opacity: 0 !important;
}

#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}

/* Removal of black bottom 1px line */
#navigator-toolbox::after {
    display: none !important;
}

menubar,
menubutton,
menulist,
menu,
menuitem,
textbox,
toolbar,
tab,
tree,
.tree-rows {
    font-family: 'Hack', sans-serif !important;
    font-size: 12pt !important;
    font-weight: regular;
    font-style: normal !important;
    -moz-appearance: none !important;
    color: #cccccc !important;
}

#navigator-toolbox {
    --tabs-border-color: none !important;;

}

menuitem {
    padding: 8px !important;
}

/* This removes the tab separators */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
    display: none !important;
}

.tabbrowser-tab[selected=true] {
  color: #ffd47c !important;
}

#sidebar-search-container {
  background-color: #0c0c0c;   
}

.panel-arrowcontainer, .panel-arrowcontainer, .panel-arrowcontent {
    border-radius: 14px !important;
}

/* This moves the tabs under the URL bar */
#titlebar {
    -moz-box-ordinal-group: 3 !important;
  }
.tabbrowser-tab {
    /* transition: color 0.25s !important; */
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 !important;
}

.tabbrowser-tab {
  color: #fefefa !important;
  min-width: 12em !important;
  /* width: 100% !important;
  max-width: 100% !important; */
  /* background-color: var(--color3) !important; */
  /* background-image: linear-gradient(var(--color3), var(--color3)) !important; */
}

.chromeclass-location {
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
    
}

.urlbarView:not(.megabar) {
    box-shadow: none !important;
    background-color: #0c0c0c !important;
    font-family: 'Hack', sans-serif !important;
    font-size: 11pt !important;
}

.urlbarView-favicon {
    display: none !important;
}

.urlbarView-row[selected] {
    background: #e0e0e0 !important;
    color: #0c0c0c !important;
    fill-opacity: 1 !important;;
}

.sidebar-splitter {

    -moz-appearance: none;
    border: none !important;
}   
    
.customization-target {
    padding: 12px !important;   
}
#statuspanel-label {
    background-color: black !important;
    border: 1px none black !important;
    border-top-style: solid !important;
    color: white !important;
}

/* Hide minimize, restore, close in full screen */

#minimize-button, #restore-button, #close-button
{ display: none !important; }
